@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import 'tailwindcss';

@custom-variant one (&:where(.one, .one *));
@theme {
	--font-spartan: 'League Spartan', sans-serif;
	--color-theme-1-navy-850: hsl(222, 26%, 31%);
	--color-theme-1-navy-900: hsl(223, 31%, 20%);
	--color-theme-1-navy-950: hsl(224, 36%, 15%);
	--color-theme-1-navy-700: hsl(225, 21%, 49%);
	--color-theme-1-navy-750: hsl(221, 14%, 31%);
	--color-theme-1-navy-800: hsl(224, 28%, 35%);
	--color-theme-1-white: hsl(0, 100%, 100%);
	--color-theme-1-red-600: hsl(6, 63%, 50%);
	--color-theme-1-red-800: hsl(6, 70%, 34%);
	--color-theme-1-gray-200: hsl(0, 0%, 90%);
	--color-theme-1-gray-400: hsl(28, 16%, 65%);
}

input {
	caret-color: transparent;
}

.hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
	display: none;
}
